* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --white: #FFFFFF;
    --background: #FFFBFF;
    --on-background: #1C1B1E;
    --lighter-on-background: #313033;
    --outline: #79757F;
    --hover: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.20));
    --shadow: box-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
    --surface-variant: #F5DED6;
    --primary: #6132F2;
    --on-primary: #FFFFFF;
    --primary-container: #FFDBCE;
    --on-primary-container: #370D00;
    --secondary: #605C71;
    --on-secondary: #FFFFFF;
    --secondary-container: #FFDBCE;
    --tertiary: #7C5263;
    --on-secondary-container: #2C160D;
    --on-surface-variant: #53433E;
    --surface1: #FFFFFF;
    /* --surface1: linear-gradient(0deg, rgba(154, 69, 34, 0.05), rgba(154, 69, 34, 0.05)), #FFFBFF; */
    /* not yet changed neutral-variant60 */
    --inactive-on-surface-variant: #9D8E81;
    /* not yet changed neutral-variant95 */
    --surface3: linear-gradient(0deg, rgba(154, 69, 34, 0.11), rgba(154, 69, 34, 0.11)), #FFFBFF;
  }
  
  [data-theme="dark"] {
    --background: #201A18;
    --on-background: #EDE0DC;
    --outline: #A08D86;
    --hover: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
    --surface-variant: #53433E;
    --primary: #FFB59A;
    --on-primary: #5A1B00;
    --primary-container: #7B2E0C;
    --on-primary-container: #FFDBCE;
    --secondary: #E7BEAF;
    --on-secondary: #442A20;
    --secondary-container: #5D4035;
    --on-secondary-container: #FFDBCE;
    --on-surface-variant: #D8C2BB;
    --surface1: linear-gradient(0deg, rgba(255, 181, 154, 0.08), rgba(255, 181, 154, 0.08)), #201A18;
    /* not yet changed neutral-variant60 */
    --inactive-on-surface-variant: #9D8E81;
    /* not yet changed neutral-variant40 */
    --surface3: linear-gradient(0deg, rgba(255, 181, 154, 0.14), rgba(255, 181, 154, 0.14)), #201A18;
  }
  
  
  body {
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--on-background);
  }